<section>
    <div class="row justify-content-center">
  
      <div class="col-7">
        <div class="row col-12 ">
          <span class="col-12 text-center">
            <strong class="card-header">
              Project Summary
            </strong>
          </span>
        </div>
        <div class="card col-12 border cardHeight m-1  ">
          <div class="card-body row justify-content-around ">
            <p>
              As the global community makes the transition from the millennium development goals to sustainable
              development goals, is turning its attention to the values of Earth Observation (EO) and geospatial
              information as critical development enablers. Geospatial data have become an essential fuel to boost digital
              economy and it is more timely than ever to realise that the geospatial industry is on the verge of something
              special: a data driven world where position is the common factor. EO/ geospatial aims to offer this
              essential move to create opportunities for the digital economy and this forms the basis for the topic of
              this proposal.<br><br>
              This project concentrates on Region 3 (Arab state countries). Whilst Arab state HEIs have high gross
              tertiary enrollment rates they lack to create the appropriate value chain of job openings. It is essential
              to raise awareness among the students and professionals about the significance of EO/geospatial information,
              encourage gender equity in this direction and update the relevance of curricula programs outcomes to market
              needs. The vision of ERODITE is to enhance and promote learning, extension, outreach, activities at the
              partner HEIs through the creation of geospatially- integrated collaboration.<br><br> The mission is to
              develop a
              plan to make the partner HEIs geospatially- integrated universities where EO/geospatial science, thinking,
              and visualization are broadly applied across disciplines and are supported through readily accessible and
              high capacity EO material, training and expertise. The objectives are to develop (i) educational network
              with Arab state HEIs that will introduce strategies for the development of innovative educational approach
              for effective EO/geospatial pathways and (ii) an open, collaborative learning environment (EO platform) that
              will allow access to various thematic and training pathways and create new ones adapted to user groups.
            </p>
  
          </div>
        </div>
      </div>
  
    </div>
  </section>