<div class="row">

  <div class="col-2  d-flex align-items-center">
    <a (click)="navigate(1)"><img src="assets/images/LArrow.png" /></a>
  </div>
  <div class="col-8">
    <section>
      <div class=" row justify-content-center">

        <ngb-carousel #carousel [interval]="15000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
          [showNavigationArrows]="showNavigationArrows">
          <ng-template ngbSlide>
            <div class="col-12">
              <div class="row col-12 ">
                <span class="col-12 text-center">
                  <strong class="card-header">
                    About ERODITE
                  </strong>
                </span>
              </div>

              <div class="card col-12 border   m-1 cardHeight ">
                <div class="card-body row justify-content-around">
                  <div class="col-12 table-wrapper">
                    <table class="table table-striped table-white ">
                      <tbody>
                        <tr>
                          <td>Reference Number</td>
                          <td>617730-EPP-1-2020-1-EL-EPPKA2-CBHE-JP</td>

                        </tr>
                        <tr>
                          <td>Application Title</td>
                          <td>EaRth Observation Tools for the promotion of DigITal Economy</td>
                        </tr>
                        <tr>
                          <td>Application Acronym</td>
                          <td>ERODITE</td>
                        </tr>
                        <tr>
                          <td>Action Code</td>
                          <td>CBHE-JP</td>

                        </tr>
                        <tr>
                          <td>Project Start Date</td>
                          <td>15-janv.-2021</td>
                        </tr>
                        <tr>
                          <td>Project End Date</td>
                          <td>14-janv.-2024</td>
                        </tr>
                        <tr>
                          <td>Duration (months)</td>
                          <td>36</td>
                        </tr>
                        <tr>
                          <td>Grant Requested</td>
                          <td>990.090,00</td>
                        </tr>
                        <tr>
                          <td>EUD Consultation</td>
                          <td>YES</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="col-12">
              <div class="row col-12 ">
                <span class="col-12 text-center">
                  <strong class="card-header">
                    Project Characteristics, Aims and Objectives
                  </strong>
                </span>
              </div>
              <div class="card col-12 border cardHeight m-1  ">
                <div class="card-body row justify-content-around">
                  <div class="col-12 table-wrapper">
                    <table class="table table-striped table-white   ">
                      <tbody>
                        <tr>
                          <td>Project Type</td>
                          <td>Multi-country project</td>
                        </tr>

                        <tr>
                          <td>Specific Activity</td>
                          <td>Curriculum development</td>
                        </tr>
                        <tr>
                          <td>Subject/Thematic Area</td>
                          <td>Engineering and engineering trades</td>
                        </tr>
                        <tr>
                          <td>CBHE Actions</td>
                          <td>Foster regional integration and cooperation across different regions of the world through
                            joint
                            initiatives, sharing of good practices and cooperation
                            Improve the level of competences and skills in HEIs by developing new and innovative
                            education
                            programmes</td>
                        </tr>
                        <tr>
                          <td>CBHE Aims and Objec</td>
                          <td>Contribute to the cooperation between the EU and the eligible Partner Countries (and
                            amongst
                            the
                            eligible Partner Countries)
                            Support eligible Partner Countries to address the challenges facing their higher education
                            institutions and systems, including those of quality, relevance, equity of access, planning,
                            delivery, management, governance</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <section>
              <div class="row justify-content-center">

                <div class="col-7">
                  <div class="row col-12 ">
                    <span class="col-12 text-center">
                      <strong class="card-header">
                        Project Summary
                      </strong>
                    </span>
                  </div>
                  <div class="card col-12 border cardHeight m-1  ">
                    <div class="card-body row justify-content-around">
                      <p>
                        As the global community makes the transition from the millennium development goals to
                        sustainable
                        development goals, is turning its attention to the values of Earth Observation (EO) and
                        geospatial
                        information as critical development enablers. Geospatial data have become an essential fuel to
                        boost digital
                        economy and it is more timely than ever to realise that the geospatial industry is on the verge
                        of something
                        special: a data driven world where position is the common factor. EO/ geospatial aims to offer
                        this
                        essential move to create opportunities for the digital economy and this forms the basis for the
                        topic of
                        this proposal.<br><br>
                        This project concentrates on Region 3 (Arab state countries). Whilst Arab state HEIs have high
                        gross
                        tertiary enrollment rates they lack to create the appropriate value chain of job openings. It is
                        essential
                        to raise awareness among the students and professionals about the significance of EO/geospatial
                        information,
                        encourage gender equity in this direction and update the relevance of curricula programs
                        outcomes to market
                        needs. The vision of ERODITE is to enhance and promote learning, extension, outreach, activities
                        at the
                        partner HEIs through the creation of geospatially- integrated collaboration.<br><br> The mission
                        is to
                        develop a
                        plan to make the partner HEIs geospatially- integrated universities where EO/geospatial science,
                        thinking,
                        and visualization are broadly applied across disciplines and are supported through readily
                        accessible and
                        high capacity EO material, training and expertise. The objectives are to develop (i) educational
                        network
                        with Arab state HEIs that will introduce strategies for the development of innovative
                        educational approach
                        for effective EO/geospatial pathways and (ii) an open, collaborative learning environment (EO
                        platform) that
                        will allow access to various thematic and training pathways and create new ones adapted to user
                        groups.
                      </p>

                    </div>
                  </div>
                </div>

              </div>
            </section>
          </ng-template>
        </ngb-carousel>

      </div>
    </section>
  </div>
  <div class="col-2  d-flex align-items-center">
    <a (click)="navigate(-1)"><img src="assets/images/RArrow.png" /></a>
  </div>
</div>





<hr class="col-10">
<section>
  <div class="row col-12 justify-content-around col-6  p-4 m-4  align-items-center">
    <div class=" align-items-center   ">
      <a href="/"><img src="assets/images/erodiet logo.png" height="50"/></a>
    </div>
    <div class="    align-items-center  ">
      <a href="/"><img src="assets/images/logo-erasmus-plus.png" height="15"/></a>
    </div>
  </div>
</section>
<hr class="col-10">
<section class="row col-12 text-center">
  <p>The European Commission support for the production of this publication does not constitute an endorsement of the
    contents which reflects the views only of the authors and the Commission cannot be held responsible for any use
    which may be made of the information contained therein.</p>
</section>
